{% extends '@App/base.html.twig' %}

{% block content %}
    <div class="text-center nav-wrapper">
        <div class="nav-type">
            <a class="first {% if type is not defined %}active-type{% endif %}" title="Весь ассортимент" href="{{ path('mainpage') }}">Весь ассортимент</a>
            <a {% if type is defined and type == prokat %}class="active-type"{% endif %} title="Прокат электроинструмента в Гомеле" href="{{ path('homepage', { typeName: typeUrl[prokat] }) }}"><h3>Прокат инструмента</h3></a>
            <a class="last {% if  type is defined and type == pokupka %}active-type{% endif %}" title="Купить стройматериалы в Гомеле" href="{{ path('homepage', { typeName: typeUrl[pokupka] }) }}"><h3>Стройматериалы</h3></a>
            <div class="clear"></div>
        </div>
    </div>

    <div class="menu-wrapper">
        <div class="menu">
            <a href="#" class="js-toggle-category toggle-category gradient1" title="Показать категории">
                <i class="fa fa-bars" aria-hidden="true"></i>
                Категории
            </a>
            <nav class="category-nav">
                <p class="category-header gradient1">Категории</p>
                {% for category in categories %}
                    <a href="{{ path('products_by_category', { categorySlug: category.slug }) }}"
                       title="{% if category.products[0].type == pokupka %}Купить{% else %}Прокат{% endif %} {{ category.name }} в Гомеле"
                       data-url="{{ path('products_by_category', { categorySlug: category.slug }) }}"
                       class="category js-category {% if currentCategory is defined and currentCategory == category.slug %}active-category{% endif %}">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        {{ category.name }}
                    </a>

                {% endfor %}
            </nav>
        </div>
    </div>

    <div class="products-wrapper">
        {% block production %}
            {% if page is defined and page == 'product' %}
                {% include '@App/product.html.twig' %}
            {% else %}
                {% include '@App/products.html.twig' %}
            {% endif %}
        {% endblock %}
    </div>
    <div class="clear"></div>

{% endblock %}
