{% extends '@App/base.html.twig' %}

{% block content %}
    <div class="text-center nav-wrapper">
        <div class="nav-type">
            <a class="first {% if type is not defined %}active-type{% endif %}" title="Весь ассортимент" href="{{ path('mainpage') }}">Весь ассортимент</a>
            <a {% if type is defined and type == prokat %}class="active-type"{% endif %} title="Прокат электроинструмента в Гомеле" href="{{ path('homepage', { typeName: typeUrl[prokat] }) }}"><h3>Прокат инструмента</h3></a>
            <a class="last {% if  type is defined and type == pokupka %}active-type{% endif %}" title="Купить стройматериалы в Гомеле" href="{{ path('homepage', { typeName: typeUrl[pokupka] }) }}"><h3>Стройматериалы</h3></a>
            <div class="clear"></div>
        </div>
    </div>

    <div class="menu-wrapper">
        <div class="menu">
            <a href="#" class="js-toggle-category toggle-category gradient1" title="Показать категории">
                <i class="fa fa-bars" aria-hidden="true"></i>
                Категории
            </a>
            <nav class="category-nav">
                <p class="category-header gradient1">Категории</p>
                {% for category in categories %}
                    <a href="{{ path('products_by_category', { categorySlug: category.slug }) }}"
                       title="{% if category.products[0].type == pokupka %}Купить{% else %}Прокат{% endif %} {{ category.name }} в Гомеле"
                       data-url="{{ path('products_by_category', { categorySlug: category.slug }) }}"
                       class="category js-category {% if currentCategory is defined and currentCategory == category %}active-category{% endif %}">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        {{ category.name }}
                    </a>

                {% endfor %}
            </nav>
        </div>
    </div>

    <div class="products-wrapper">
        {% block production %}
            {% if page is defined and page == 'product' %}
                {% include '@App/product.html.twig' %}
            {% else %}
                {% include '@App/products.html.twig' %}
            {% endif %}
        {% endblock %}

        <div class="advantages-description">
            <p>Имея свою квартиру, дом, дачу и многое другое, часто приходиться что-то делать своими руками,
            но, не имея необходимого <em>инструмента</em>, это невозможно. Чтобы повесить карниз по просьбе жены
            Вам понадобиться или <strong>дрель</strong> или <strong>перфоратор</strong>. Покупать ради двух отверстий накладно,
            а <em>прокат</em> решит вашу проблему! Собираетесь на выходные на дачу - возьмите в аренду <strong>триммер</strong>.
            С его помощью вы быстро справитесь с травой. Хотите поставить быстро забор - <strong>бензобур</strong> в аренду ваш помощник.
            Взяв на прокат бензобур, вы сможете за день высадить сад! Вы хотите благоустроить территорию вокруг дома,
            выложить тротуарную плитку? <em>Прокат бензореза, бензиновой виброплиты</em> вам просто необходим.
            Аренда <strong>бетономешалки</strong> во многом вам облегчит работу с растворами. Аренда <strong>бензогенератора</strong> даст
            Вам возможность выполнить ряд строительных работ, где пока отсутствует электричество.</p>
            <p>Взяв в аренду инструмент у нас, мы готовы пойти вам навстречу, <strong>понижая цену на каждый следующий день проката!</strong>
            Преимущество аренды состоит в отсутствии необходимости покупки того или иного инструмента,
                трате денег, которые могут быть использованы для другого.</p>
        </div>
    </div>
    <div class="clear"></div>

{% endblock %}
