{% import _self as pageMacros %}

{% macro page(page, value, currentPage) %}
    <li class="{% if value == currentPage %}active{% endif %}">
        {% set params = (app.request.attributes.get('_route_params') | merge({'page': page})) %}
        <a class="js-page"
           href="{{ path(app.request.attributes.get('_route'), params) }}"
           data-url="{{ path(app.request.attributes.get('_route'), params) }}"
        >
            {{ value|raw }}
        </a>
    </li>
{% endmacro %}

{% if currentCategory is defined %}
    <h1>{{ type == prokat ? 'Прокат' : 'Купить' }} {{ currentCategory.name }}</h1>
{% endif %}

{% for product in products %}
    <div class="product-wrapper js-product">
        <span class="type {{ product.type ? "green" : "red" }}">{{ product.type ? "Покупка" : "Прокат" }}</span>
        <p class="name" style="margin-top: 20px;">
            <a href="{{ path('product', { categorySlug: product.category.slug, productSlug: product.slug }) }}"
               title="{{ product.type ? "Купить" : "Прокат" }} {{ product.name }} в Гомеле"
               class="js-product-link"
            >{{ product.name }}</a>
        </p>
        <div class="product-img">
            <img src="{{ asset('images/' ~ product.imgMin) }}" alt="{{ product.name }}">
        </div>
        <p class="short-description">{{ product.shortDescription }}</p>
        <span class="price"><span class="number">{{ product.price }}</span> руб{% if product.type == prokat %}/сутки{% endif %}</span>
    </div>
{% else %}
    <p class="text-info" style="margin: 40px 0 0 30%;">Похоже, что здесь ничего нет :(</p>
{% endfor %}

{% if countOfPages > 1  and currentPage <= countOfPages %}
    <div class="clear"></div>
    <div class="pag">
        <ul class="pagination">
            {% set offset = 2 %}

            {% if currentPage > (offset + 1) %}
                {{ pageMacros.page(currentPage - 1, '<i class="fa fa-angle-left"></i>', currentPage) }}
            {% endif %}

            {% for i in 1..countOfPages %}
                {% if i >= (currentPage - offset) and i <= (currentPage + offset)  %}
                    {{ pageMacros.page(i, i, currentPage) }}
                {% endif %}
            {% endfor %}

            {% if currentPage < (countOfPages - offset - 1) %}
                {{ pageMacros.page(currentPage + 1, '<i class="fa fa-angle-right"></i>', currentPage) }}
            {% endif %}
        </ul>
    </div>
{% endif %}

<div class="advantages-description">
    <p>Имея свою квартиру, дом, дачу и многое другое, часто приходиться что-то делать своими руками,
        но, не имея необходимого <em>инструмента</em>, это невозможно. Чтобы повесить карниз по просьбе жены
        Вам понадобиться или <strong>дрель</strong> или <strong>перфоратор</strong>. Покупать ради двух отверстий накладно,
        а <em>прокат</em> решит вашу проблему! Собираетесь на выходные на дачу - возьмите в аренду <strong>триммер</strong>.
        С его помощью вы быстро справитесь с травой. Хотите поставить быстро забор - <strong>бензобур</strong> в аренду ваш помощник.
        Взяв на прокат бензобур, вы сможете за день высадить сад! Вы хотите благоустроить территорию вокруг дома,
        выложить тротуарную плитку? <em>Прокат бензореза, бензиновой виброплиты</em> вам просто необходим.
        Аренда <strong>бетономешалки</strong> во многом вам облегчит работу с растворами. Аренда <strong>бензогенератора</strong> даст
        Вам возможность выполнить ряд строительных работ, где пока отсутствует электричество.</p>
    <p>Взяв в аренду инструмент у нас, мы готовы пойти вам навстречу, <strong>понижая цену на каждый следующий день проката!</strong>
        Преимущество аренды состоит в отсутствии необходимости покупки того или иного инструмента,
        трате денег, которые могут быть использованы для другого.</p>
</div>
